body {
    font-family: Raleway, sans-serif;
    color: $text-color;
    margin: 0;
    background: #242B33;

}

@mixin body-font {
    font-family: Raleway, sans-serif;
    color: #ffffff;

}

@mixin title-font {
    font-family: Playfair Display;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #D4C17F;
}