<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
        title HOUSE VOP Жилой комплекс
    body
        header.header
            .navbar
                .container  
                    .navbar-wrap
                        .logo.navbar__logo
                            span.logo__text HouseVOP
                            span.logo__desc ЖИЛОЙ КОМПЛЕКС
                        nav.menu.navbar__menu
                            ul.menu__list
                                li.menu__item
                                    a.menu__link(href="#!") О комплексе
                                li.menu__item
                                    a.menu__link(href="#!") Район
                                li.menu__item
                                    a.menu__link(href="#!") Каталог квартир
                                li.menu__item
                                    a.menu__link(href="#!") Ипотека
                                li.menu__item
                                    a.menu__link(href="#!") Контакты
                                
                       
            .hero