.hero {
    background: url("../img/background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

}
.info {
    margin-top: 296px;
    width: 582px;
    height: 470px;
    // display: flex;
    // align-items: center;
    // flex-direction: column;
    margin-bottom: 74px;

    h1.info__title {        
        font-family: Playfair Display;
        font-weight: bold;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: $text-color-title;
        margin: 0;
    }
    &__ico {
        margin-top: 100px;
        margin-bottom: 200px;
        margin-left: 50%;
        

    }
    &__footer {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        .address__logo {
            padding-right: 15px;
        }
        .address__desc {
            padding-right: 100px;
            font-size: 18px;
            line-height: 21px;  
        }
        .phone__logo {
            padding-right: 15px;
        }
        .phone__num {
            text-decoration: none;
            font-size: 18px;
            line-height: 21px;
            color: white;
        }

   

    }
}
